<div class="log-w3">
    <div class="w3layouts-main">
<h2>Quên password</h2>
<form  method="post">
    <input type="email" class="ggg" name="email" placeholder="email" required="" />
    <div class="clearfix"></div>
    <input type="submit" value="Lấy lại mật khẩu" />
</form>
    </div>
</div>

