
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="menu-inf-user">
                            <div class="row">
                                <div class="logo-inf">
                                    <a href="#"><img src="./public/images/g7.jpg" alt="" /></a>
                                    <a href="inf_account.html" style="margin: 5px 120px; text-decoration: none;"> vip</a
                    >
                  </div>
                </div>
                <hr />
                <div class="row">
                <ul class="menu-inf">
                    <li>
                        <a href="/account/info={{lcAuthUser.account_id}}">Thông tin</a>
                    </li>
                    <li>
                        <a href="./post_account_reporter.html">Bài viết</a>
                    </li>
                    <li>
                        <a href="/vip/kt">Thông tin VIP</a>
                    </li>
                    <li>
                        <a href="logout" style="color: red;">Đăng xuất</a>
                    </li>
                </ul>
                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="main-inf">
                                <div class="row">
                                    <h2>Thông tin cá nhân</h2>
                                </div>
                                <hr />
                                <div class="row">
                                    <table class="main-inf-form" id="ttchinh">
                                        <tr>
                                            <th>Thông tin</th>

                                            <th>
                                                <button class="chinhsua fas fa-pen" onclick="showedit()" type="submit"></button>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td>Tên</td>
                                            <td>
                                                <label for="">{{lcAuthUser.account_name}}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Email</td>
                                            <td>
                                                <label for="">{{lcAuthUser.account_email}}</label>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Ngày Sinh</td>
                                            <td>
                                                <label for="">{{lcAuthUser.account_birthday}}</label>
                                            </td>
                                        </tr>
                                    </table>
                                    <form action="#" class="inf" id="chinhsua">
                                        <table class="edit-inf-form">
                                            <tr>
                                                <th>Thông tin</th>
                                                <th></th>
                                            </tr>
                                            <tr>
                                                <td>Tên</td>
                                                <td>
                                                    <input type="text" name="ten" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Email</td>
                                                <td>
                                                    <input type="email" name="Email" id="Email" value="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Ngày Sinh</td>
                                                <td>
                                                    <input type="date" name="ngaysinh" id="ngaysinh" value="" />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Mật Khẩu</td>
                                                <td>
                                                    <input type="password" name="matkhau" id="matkhau" value="" />
                                                </td>
                                            </tr>
                                        </table>
                                        <div class="group-btn">
                                            <button class="btn btn-primary" style="width: 100px;" type="submit">
                                                Lưu
                                            </button>
                                            <button class="btn btn-danger" onclick="close()" style="width: 100px;" >
                                                Đóng
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


