<div class="log-w3">
    <div class="w3layouts-main">
        <h2>SIGN UP</h2>
        <form action="" method="post">
            <input type="email" class="ggg" name="Email" placeholder="E-MAIL" required="" /><span></span>
            <input type="password" class="ggg" name="Password" placeholder="PASSWORD" required="" />
            <input type="password" class="ggg" name="RePassword" placeholder="REPEAT-PASSWORD" required="" />
            <input type="text" class="ggg" name="UserName" placeholder="USERNAME">
            <input type="tel" class="ggg" name="Telephone" placeholder="TELEPHONE" pattern="[0-9]{10}" />
            <input type="date" class="ggg" name="Day" placeholder="Day" />
            <input type="text" class="ggg" name="Address" placeholder="ADDRESS" />
            <div class="clearfix"></div>
            <input type="submit" value="Sign up" name="SignUp" />
        </form>
    </div>
</div>
