 <div class="banner">
            <div class="slideshow-container">
                {{#each this.page.posts_hot}}
                <div class="mySlides fade">
                    <div class="numbertext">1 / 4</div>
                    <img src="images/{{post_image}}" />
                    <div class="text">{{post_name}}</div>
                </div>
                {{/each}}
            </div>

            <div style="text-align: center;">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
</div>