
                    <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="logo-footer">
                            <a href="# "><img src="images/IMG_20200615_185215.jpg" alt=" " /></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inf-footer">
                            <p>1760176 Trần Thị Hồng Thắm</p>
                            <p>1760224 Lê Anh Trường</p>
                            <p>1760215 Đặng Ngọc Trí</p>
                            <p>1760410 Nguyễn Hoàng Tâm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>