<div class="header">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="logo">
                <h2>logo</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-7">
              <div class="menu">
                <ul class="main-menu">
                  <li><a href="">Home</a></li>
                  <li>
                    <a href="">product</a>
                    <ul class="sub-menu">
                      <li><a href="#">product1</a></li>
                      <li><a href="">product2</a></li>
                      <li><a href="">product3</a></li>
                      <li><a href="">product4</a></li>
                    </ul>
                  </li>
                  <li><a href="">contact</a></li>
                  <li><a href="">sevices</a></li>
                  <li><a href="">about</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-5">
              <div class="search-login">
                <div class="search">
                  <input type="text" name="search" placeholder="search..." />
                  <button class="btn btn-primary" name="btn-search">
                    Search
                  </button>
                </div>
                <div class="login">
                  <a href="" name="login">Login</a>
                  <a href="" name="resgiter">Resgiter</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>