* {
    margin: 0;
    padding: 0;
}

.content .main-posts {
    width: 100%;
    min-height: 800px;
    background: pink;
}

.content .main-content {
    height: 400px;
    background: rgb(114, 213, 252);
    margin: 5px 10px;
}

.content .main-posts h2 {
    font-size: 2.3em;
}

.content .main-posts .img-content {
    height: 300px;
    background: rgb(63, 96, 243);
    width: 100%;
    margin: 10px 80px;
}

.content .tag-content {
    height: 50px;
    background: rgb(29, 231, 120);
    margin: 5px 2px;
}

.content .relate-posts {
    width: 100%;
    min-height: 100px;
    background: rgb(250, 192, 214);
    margin: 10px 0px;
}

.relate-posts .img-relate {
    height: 100px;
    background: rgb(160, 238, 87);
    margin: 10px 10px;
}

.relate-posts .content-relate {
    height: 50px;
    background: rgb(223, 177, 77);
    margin: 5px 10px;
}

.relate-posts .content-relate a {
    text-decoration: none;
    font-size: 1.3em;
}

.post_cate {
    background: rgb(7, 179, 50);
    width: 50%;
    min-height: 40px;
    margin-left: 50%;
}

.post_cate a {
    text-decoration: none;
    padding: 5px 50px;
}

.img-post {
    width: 100%;
    min-height: 50px;
}

.img-post a {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.img-post img {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.comment-post {
    width: 100%;
    min-height: 100px;
    background: rgb(228, 199, 199);
    margin: 15px;
}

.comment-post input {
    width: 100%;
    min-height: 40px;
    margin: 5px;
}

.comment-post p {
    border: 1.5px solid#fff;
    margin: 5px;
    min-height: 40px;
}

.post_cates {
    text-decoration: none;
    background: rgb(126, 98, 98);
    /* margin: 5px 5px 0px 10px; */
    margin-left: 30%;
    text-align: right;
}

.post_cates a {
    text-decoration: none;
    float: left;
    text-align: right;
}

.post_cates label {
    text-align: right;
}