
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-md-8">
              <div class="main-post">
                <h2>Tiêu đề bài viết</h2> {{post.post_name}}
                <div class="row">
                  <div class="col-md-12">
                    <div class="main-content"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="img-content"></div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="tag-content">
                      <a href="">từ khóa</a>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="relate-post">
                      <h3>Bài viết liên quan</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <div class="img-relate"></div>
                          <div class="content-relate">
                            <a href="">tiêu đề bài viết liên quan</a>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="img-relate"></div>
                          <div class="content-relate">
                            <a href="">tiêu đề bài viết liên quan</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="hig">
                <div class="row">
                  <div class="col-md-12">
                    <div class="name-hig">
                      <h4>Tin nổi bật</h4>
                    </div>
                  </div>
                </div>
                <div class="post-hig">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="img">
                        <a href="#"
                          ><img
                            src="./public/images/IMG_20200615_185215.jpg"
                            alt=""
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="decs">
                        <a href="#">
                          <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Repellat, tempora?
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <div class="img">
                        <a href="#"
                          ><img
                            src="./public/images/IMG_20200615_185215.jpg"
                            alt=""
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="decs">
                        <a href="#">
                          <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Repellat, tempora?
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <div class="img">
                        <a href="#"
                          ><img
                            src="./public/images/IMG_20200615_185215.jpg"
                            alt=""
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="decs">
                        <a href="#">
                          <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Repellat, tempora?
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <div class="img">
                        <a href="#"
                          ><img
                            src="./public/images/IMG_20200615_185215.jpg"
                            alt=""
                        /></a>
                      </div>
                    </div>
                    <div class="col-md-7">
                      <div class="decs">
                        <a href="#">
                          <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing
                            elit. Repellat, tempora?
                          </p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
