
    <script src="https://cdn.tiny.cloud/1/0kz5xltthdr6isg6zjuqpeksn8azfcg13aj7gvbx8mj8th1z/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#fulldes',
        height: 450,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
        'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ]
      });
    </script>
    <script>
        $('#fullimg').fileinput({
            theme: 'fa',
            showCaption: true,
            dropZoneEnabled: true,
            allowedFileExtensions: ['png', 'jpg', 'gif'],
            language: 'vi'
        });
    </script>



<h1>Đăng bài viết</h1>
<form method="POST" enctype="multipart/form-data">
    <div>
        <h3>Tiêu đề bài viết</h3>
        <input type="text" name="txtTieude" id="txtTieude" value="Tiêu Đề">
    </div>
    <div>
        <h3>Tóm tắt bài viết</h3>
        <input type="text" name="txtTomtat" id="txtTomtat" value="Tóm tắt">
    </div>
    <div>
        <h3>Chuyên mục bài viết</h3>
        <select name="txtChuyenmuc" id="txtChuyenmuc">
        {{#each this.categori}}
            <option value="{{category_id}}">{{category_name}}</option>
        {{/each}}
        </select>
    </div>
    <div class="file-loading">
        <h3>Hình đại diện bài viết</h3>
        <input id="fullimg" name="fullimg" type="file" >
    </div>
    <div class="card">
        <div class="card-body">
            <label for="fulldes"></label>
            <textarea name="fulldes" id="fulldes" class="form-control"></textarea>
        </div>
    </div>
    <div class="card-footer">
        <button type="submit">Đăng bài viết</button>
    </div>
</form>